<nz-layout class="layout" style="height: 100%;">
  <nz-header>
    <div class="logo">任务调度平台</div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>
        <a (click)="jumpTaskList()">任务列表</a>
      </li>
      <li nz-menu-item>
        <a (click)="jumpSeting()">系统设置</a>
      </li>
      <li nz-menu-item>
          <a (click)="jumpExplain()">使用说明</a></li>
      <li nz-menu-item>
        <a target="_blank" href="https://github.com/zhaopeiym/quartzui">GitHub</a>
      </li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
      <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="text-align: center;"> ©2018 Implement By
    <a href="https://github.com/zhaopeiym" target="_blank">农码一生</a>
  </nz-footer>
</nz-layout>