/QuartzNetUI/Host/File/logs
/QuartzNetUI/Host/File/sqliteScheduler.db
/QuartzNetUI/Host/bin
/QuartzNetUI/Host/obj
/QuartzNetUI/Host.Tests/obj
/QuartzNetUI/Host.Tests/bin
/QuartzNetUI/.vs
/QuartzNetUI/Host/File/Mail.txt
