/QuartzNetAPI/Host/File/logs
/QuartzNetAPI/Host/File/sqliteScheduler.db
/QuartzNetAPI/Host/bin
/QuartzNetAPI/Host/obj
/QuartzNetAPI/Host.Tests/obj
/QuartzNetAPI/Host.Tests/bin
/QuartzNetAPI/.vs
/QuartzNetAPI/Host/File/Mail.txt
/QuartzNetAPI/Host/RaspberryPi
/QuartzNetWeb/.vscode
/QuartzNetAPI/Host/File/sqliteScheduler.db-journal
/QuartzNetAPI/Host/File/LoginPassword.json
