nz-form-item {
  width: 60%;
}

.but-con {
  margin-top: 10px;
  text-align: right;
  margin-right: 53px;
}

.but-con-refresh {
  text-align: right;
  margin-right: 163px;
}

.but-con button {
  margin-right: 30px;
}

.but-con button:nth-child(2) {
  margin-right: 110px;
}
