<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>使用说明</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="background:#fff; padding: 24px; min-height: 280px;">
  <pre>
    方式1（docker使用）
    docker run -v /fileData/quartzuifile:/app/File --restart=unless-stopped --privileged=true --name quartzui -dp 5088:80 bennyzhao/quartzui

    一行命令开箱即用，赶快体验下docker的便捷吧！
    1、其中/fileData/quartzuifile为映射的文件地址，如SQLite数据库和log日志
    2、5088为映射到主机的端口
    3、直接在浏览器 ip:5088 即可访问。（注意防火墙是否打开了5088端口，或者在主机测试 curl 127.0.0.1：5008）

    方式2（可直接通过源码部署到windows或linux平台）

    源码地址：https://github.com/zhaopeiym/quartzui

    问题交流：https://github.com/zhaopeiym/quartzui/issues
  </pre>
</div>
