.jobTable {
    width: 100%;
    padding: 0;
}

.jobTable th,
.jobTable td {
    padding: 5px;
}

.jobTable th:nth-child(3) {
    width: 13%;
}

.jobTable th:nth-child(9) {
    min-width: 5%;
}

.rowJobCont:nth-child(n+2) {
    margin-top: 8px;
}

form nz-tag {
    line-height: 39px;
    margin-left: 5px;
}

::ng-deep .ant-form-item {
    margin-bottom: 8px;
}

::ng-deep.ant-form-item-with-help {
    margin-bottom: 3px;
}

::ng-deep .ant-calendar-picker {
    width: 100%;
}